src/main/resources/jaxb.xsd

<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:include schemaLocation="extended-jaxb.xsd" />

	<xs:element name="customer" type="customer" />

	<xs:complexType name="customer">
		<xs:sequence>
			<xs:element name="contactInfo" type="address" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="address">
		<!-- xs:complexContent>
			<xs:extension base="contactInfo"-->
				<xs:sequence>
					<xs:element name="street" type="xs:string" minOccurs="0" />
				</xs:sequence>
			<!-- /xs:extension>
		</xs:complexContent-->
	</xs:complexType>

</xs:schema>
